@import url("https://use.typekit.net/ctl3izw.css");

:root {
	--body-font-family: "work-sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--heading-font-family:"work-sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--body-font-weight: 400;
	--body-line-height: 1.4;
	--heading-font-weight: 600;
	--heading-line-height: 1.1;
	--color-body: #362d4e;
	--color-headings: #1d1156;
	--color-white: #ffffff;
	--color-gray-50: #fafafa;
	--color-gray-100: #f5f5f5;
	--color-gray-200: #eeeeee;
	--color-gray-300: #e0e0e0;
	--color-gray-400: #bdbdbd;
	--color-gray-500: #9e9e9e;
	--color-gray-600: #757575;
	--color-gray-700: #616161;
	--color-gray-800: #424242;
	--color-gray-900: #212121;
	--color-primary: #4c136f;
	--color-primary-darker: #41105e;
	--color-primary-light: #f4e8fb;
	--color-secondary: #578e30;
	--color-secondary-darker: #4e7f2b;
	--color-secondary-light: #f1f8ec;
	--color-error: #a11c91;
	--font-size-base: 18px;

	--spacing-xs: 0.444em;
	--spacing-sm: 0.667em;
	--spacing-md: 1em;
	--spacing-lg: 1.5em;
	--spacing-xl: 2.25em;
	--spacing-xxl: 3.375em;

	--font-size-sm: 0.8em;
	--font-size-md: 1em;
	--font-size-lg: 1.25em;
	--font-size-xl: 1.563em;
	--font-size-xxl: 1.953em;
	--font-size-xxxl: 2.441em;
	--font-size-xxxxl: 3.052em;
	--font-size-xxxxxl: 3.815em;
}


/* -------------------------------------------------------------------------- */
/*                                  defaults                                  */
/* -------------------------------------------------------------------------- */

body {
	background-color: var(--color-gray-200);
	font-family: var(--body-font-family);
	color: var(--color-body);
	font-size: var(--font-size-base);
	line-height: var(--body-line-height);
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font-family);
	font-weight: var(--heading-font-weight);
	color: var(--color-headings);
	line-height: var(--heading-line-height);
	margin-top: 0;
}

h2 {
	font-size: var(--font-size-md);
}

h2:not(:first-child) {
	margin-top: var(--spacing-lg);
}

@media only screen and (min-width: 800px) {
	h2 {
		font-size: var(--font-size-xxl);
	}
}


strong {
	font-weight: var(--heading-font-weight);
}

/* -------------------------------------------------------------------------- */
/*                                   layout                                   */
/* -------------------------------------------------------------------------- */

.App-header {
	display: none;
}

.header-description {
	margin: 0 auto;
	text-align: left;
	max-width: 80vw; /* same width as tabs div */
}

.header-description h2 {
	margin-top: var(--spacing-md);
}

@media only screen and (min-width: 800px) {
	.header-description h2 {
		margin-top: var(--spacing-xxl);
	}
}


.header-description form {
	margin: var(--spacing-lg) 0 var(--spacing-xxl);
}

@media only screen and (min-width: 1000px) {

	.header-description h2 {
		max-width: 50%;
	}
	.header-description * {
		max-width: 75%;
	}
	
}

/* ---------------------------------- forms --------------------------------- */

form * {
	font-family: var(--body-font-family);
	color: var(--color-body);
}

input[type="submit"] {
	background-color: var(--color-primary);
	color: var(--color-white);
	border: none;
	border-radius: 0;
	padding: 0.9em;
	font-size: calc(var(--font-size-base) * 0.9);
	letter-spacing: 0.03em;
}


@media only screen and (min-width: 800px) {

    input[type="submit"] {
		padding: 0.9em 2em;
	}
}

@media only screen and (min-width: 1000px) {

    /* Your CSS here. */
}


input[type="submit"]:hover {
	background-color: var(--color-primary-darker);
}

input[type="text"] {
	border: 0;
	border-radius: 0;
	width: 40vw;
	padding: calc(0.9em - 2px) 0.9em;
	font-size: calc(var(--font-size-base) * 0.9);
	letter-spacing: 0.03em;
	background-color: var(--color-white);
}

/* -------------------------------------------------------------------------- */
/*                             lectures container                             */
/* -------------------------------------------------------------------------- */

/* --------------------------------- shared --------------------------------- */

.Container {
	background-color: var(--color-white);
	margin: 0 auto;
	width: 100%;
}

.Container .lectures {
	width: 80vw;
	margin: 0 auto;
}

.Container.true button + button,
.Container.false button + button {
	display: none; /* hides rewind button */
}

.Container .title-display {
	background: var(--color-gray-200);
	border-radius: 0;
}

/* audio controller */

.full-control {
	background-color: var(--color-primary);
	border-radius: 0;
	padding: var(--spacing-sm) var(--spacing-lg);
	display: flex;
}

/* get rid of empty div inside .full-control */

.full-control div:first-child {
	display: none;
}

.full-control .button {
	background-color: var(--color-gray-600);
	border: 0;
	border-radius: 0;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.full-control button {
	height: 24px;
	width: 24px;
}


/* -------------------------------- grid page ------------------------------- */

/* tabs */

.tabs {
	width: 80vw;
	margin: 0 auto;
	text-align: left;
}

.tabs .tab {
	display: inline-block;
}

.tabs .tab {
	background-color: var(--color-gray-400);
	border-radius: 0;
	cursor: pointer;
	margin-right: 15px;
	opacity: 0.75;
	text-align: center;
}

@media only screen and (min-width: 800px) {
	.tabs .tab {
		width: 150px;
	}
}

.tabs .tab.all.false,
.tabs .tab.featured.true {
	background-color: var(--color-white);
	opacity: 1;
}

.tabs .tab p {
	padding: 0.8em 2em;
	margin: 0;
	font-size: 0.8em;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: var(--heading-font-weight);
}

.Container.true .lectures {
	padding-top: 1.5em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 1.5em 1.5em;
}

.Container.true .title-display {
	padding: var(--spacing-lg);
}

.title-display p {
	font-size: var(--font-size-sm);
	margin: 0 0 var(--spacing-xs) 0;
}

.title-display p:first-of-type {
	font-weight: var(--heading-font-weight);
	text-transform: uppercase;
	line-height: 1.2;
}

@media only screen and (min-width: 1000px) {

    .Container.true .title-display {
		min-height: 280px; /* sets min height of all question blocks in grid */
	}
}

.Container.true h2 {
	font-size: var(--font-size-md);
}

.Container.true .full-control > .seek {
	margin-left: auto;
}

.answer .false.group-view,
.answer .true.individual-view {
	display: none;
}

/* ---------------------- transcript (full-width) page ---------------------- */


.header-description.false {
	display: none;
}

.Container.false {
	padding: 24px 0 48px;
}

.Container.false .title-display {
	padding: var(--spacing-lg);
	margin: var(--spacing-xl) 0;
}

.Container.false .lecture-content {
	list-style-type: none;
	margin-left: calc(var(--spacing-lg) * -1);
}

.Container.false .lecture-content li {
	padding-bottom: var(--spacing-sm);
}

.Container.false .lecture-content .speaker {
	display: inline;
	font-weight: 800;
}

@media only screen and (min-width: 800px) {
	.Container.false .lecture-content li {
		padding-bottom: var(--spacing-md);
	}

	.Container.false .lecture-content {
		list-style-type: none;
		margin-left: initial;
	}

	.Container.false .lecture-content .speaker {
		display: inline-block;		
		width: 14%;
	}

	.Container.false .lecture-content .content {
		display: inline-block;
		vertical-align: top;
		width: 80%;
	}
}


.Container.false .full-control {
	margin-bottom: var(--spacing-xl);
}

.Container.false .full-control > .seek {
	margin-left: var(--spacing-md);
}

/* ---------------------------- related questions --------------------------- */

.neighbors-container {
	background-color: var(--color-gray-200);
	padding: var(--spacing-lg);
}

.neighbors-container ul {
	list-style-type: none;
}

.neighbors-container li {
	margin-left: calc(var(--spacing-xl) * -1);
	margin-bottom: var(--spacing-md);
	font-style: italic;
}

.backBtn {
	font-size: .9em;
}

.backBtn:hover {
	text-decoration: underline solid var(--color-error) 1.5px;
	text-underline-offset: 4px;

}

.App-header h2 {
	margin: 0;
}

.add-movies {
	text-align: center;
}

.add-movies button {
	font-size: 16px;
	margin: 0 10px 30px;
	padding: 8px;
}


.full-control .timeline {
	color: #49494a;
	font-size: 10px;
	position: absolute;
	right: 22px;
	top: 0;
}


.false-group-size .title-display p {
	font-size: 0.8em;
	margin: 6px 0;
}

.false-group-size .title-display p.bold {
	font-size: 0.9em;
}

.errorMessage {
	color: var(--color-error);
	font-weight: 700;
}

.messages {
	padding: 5px 10% 0;
}

.lecture-content.individual-view .Break_line {
	cursor: default;
	opacity: 0;
}


/*# sourceMappingURL=main.91218705.css.map*/
